/*
0px			- 		600px:			mobile 		--> Mobile First Approach 
											   	    (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px		-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and >		1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >    1800 +			: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components

*/
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(4.8rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 75%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	13px / 16px *100 = 81.25% */
    font-size: 81.25%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	15px / 16px *100 = 93.75% */
    font-size: 93.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 112.5%;
  }
}

body {
  position: relative;
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
}
@media (min-width: 56.25em) {
  body {
    padding: 0 1rem 1rem 1rem;
  }
}

ul, li {
  list-style: none;
}

body {
  color: hsl(0deg, 0%, 8%);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

.header {
  text-align: center;
}
@media (min-width: 56.25em) {
  .header {
    text-align: left;
  }
}
.header__heading {
  font-size: 3.45rem;
  font-weight: 800;
}
@media (min-width: 56.25em) {
  .header__heading {
    font-size: clamp(4.3rem, 5vw, 5rem);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3.5rem !important;
  }
}

.paragraph {
  color: hsl(0deg, 0%, 41%);
  font-size: 1.7rem;
  font-weight: 500;
}
@media (min-width: 56.25em) {
  .paragraph {
    font-size: 1.1rem;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
    font-weight: 500;
    margin-bottom: 4rem !important;
  }
}

.btn {
  color: hsl(0deg, 0%, 98%);
  font-size: 1.8rem;
  font-weight: 500;
}
@media (min-width: 56.25em) {
  .btn {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.hamburgerMenu__links {
  color: hsl(0deg, 0%, 41%);
  font-family: inherit;
  font-size: 1.7rem;
  text-align: left;
}

.navbarMenu {
  color: hsl(0deg, 0%, 41%);
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-large {
  margin-bottom: 3rem;
}

.u-margin-bottom-xtralarge {
  margin-bottom: 5rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 0.9em 1.2em;
  transition: all 0.2s;
}
@media (min-width: 56.25em) {
  .btn, .btn:link, .btn:visited {
    margin-bottom: 7rem !important;
  }
}
.btn__cta-button {
  background-color: hsl(0deg, 0%, 8%);
}
.btn__cta-button:hover {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.2rem);
}
.btn__cta-button:active, .btn__cta-button:focus {
  outline: none;
  transform: translateY(0.2rem);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.3);
}

.btnClose, .btnClose:link, .btnClose:visited {
  text-decoration: none;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 40%, hsl(0deg, 0%, 98%) 40%);
  width: 100%;
  height: 120vh;
  padding: 0rem 2rem 0rem 15rem;
  position: absolute;
  top: -2rem;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.5, 0, 1, 1);
}
@media (min-width: 56.25em) {
  .hamburgerMenu {
    display: none;
  }
}
.hamburgerMenu__icon {
  align-self: flex-end;
  margin-top: 2rem;
}
.hamburgerMenu__mainLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hamburgerMenu__iconArrowUp {
  display: inline-block;
  margin-left: 1rem;
}
.hamburgerMenu__iconArrowDown {
  display: inline-block;
  margin-left: 1rem;
}
.hamburgerMenu__subLinks {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.hamburgerMenu__subLinksIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.hamburgerMenuOpen {
  transform: scaleX(1);
  transition: all 0.6s;
  transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.featuresList {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.4s;
}

.listFeaturesDisplay {
  height: 10rem;
  transform: scaleY(1);
  margin-top: 1rem;
  transition: all 0.4s;
}

.companyList {
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.4s;
}

.listCompanyDisplay {
  height: 7rem;
  transform: scaleY(1);
  margin-top: 1rem;
  transition: all 0.4s;
}

.navbarMenu {
  display: none;
}
@media (min-width: 56.25em) {
  .navbarMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 1.5rem;
  }
  .navbarMenu__navigation {
    display: flex;
    margin-left: 4rem;
  }
  .navbarMenu__navigationLinks {
    margin-top: 0.7rem;
    margin-right: 4rem;
  }
  .navbarMenu__login {
    display: flex;
  }
  .navbarMenu__loginLinks:nth-child(1) {
    margin-top: 0.7rem;
  }
  .navbarMenu__loginLinks:nth-child(2) {
    margin-left: 4rem;
    border: 2px solid hsl(0deg, 0%, 41%);
    border-radius: 15px;
    padding: 0.45rem 1.3rem;
  }
  .navbarMenu__loginLinks:nth-child(2):hover {
    color: hsl(0deg, 0%, 8%) !important;
    border: 2px solid hsl(0deg, 0%, 8%);
  }
}

.header {
  min-height: 95vh;
  padding: 2rem 1rem 0 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 37.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media (min-width: 56.25em) {
  .header {
    width: 100%;
  }
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.header__navbar--logo {
  margin-left: 1.5rem;
  margin-top: 0.6rem;
}
.header__navbar--menu {
  align-self: flex-start;
  margin-right: 1.5rem;
  margin-top: 0.6rem;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.6, 0, 1, 1);
}
@media (min-width: 56.25em) {
  .header__navbar--menu {
    display: none;
  }
}
.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
@media (min-width: 56.25em) {
  .header__hero {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
@media (min-width: 56.25em) {
  .header__imageSection {
    width: 33%;
    order: 1;
  }
}
@media (min-width: 56.25em) {
  .header__contentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 36%;
  }
}
.header__heading .breakLargeScreen {
  display: none;
}
@media (min-width: 56.25em) {
  .header__heading .breakLargeScreen {
    display: inline;
  }
}
.header__paragraph .breakSmallScreen {
  display: inline;
}
@media (min-width: 56.25em) {
  .header__paragraph .breakSmallScreen {
    display: none;
  }
}
.header__paragraph .breakLargeScreen {
  display: none;
}
@media (min-width: 56.25em) {
  .header__paragraph .breakLargeScreen {
    display: inline;
  }
}
.header__image {
  height: auto;
}
.header__image--mobile {
  width: 100%;
  display: block;
}
@media (min-width: 56.25em) {
  .header__image--mobile {
    display: none;
  }
}
.header__image--desktop {
  display: none;
}
@media (min-width: 56.25em) {
  .header__image--desktop {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}
.header__associations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media (min-width: 56.25em) {
  .header__associations {
    width: 90%;
  }
}
.header__associations--img {
  width: 20%;
  height: auto;
  display: block;
}
@media (min-width: 56.25em) {
  .header__associations--img {
    width: 20%;
  }
}

.menuButtonDisplay {
  transform: scale(0);
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
}

/*# sourceMappingURL=styles.css.map */
