.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		border-radius: 15px;
		outline: none;

		width: 160px;
		padding: .9em 1.2em;

		transition: all .1s;

		@include respond(tab-land) {
			margin-bottom: 6.7rem;
		}
	}

	&__cta-button {
		background-color: $color-almost-black;
		&:hover {
			color: $color-almost-black;
			font-weight: 700;
			background-color: $color-almost-white;
			border: solid 2px $color-almost-black;
		}
	}
}