.btn {
	&,
	&:link,
	&:visited {
		align-self: center;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		border: none;
		outline: none;

		padding: .7em 1.2em;

		transition: all .2s;
	}

	&__cta-button {
		background-color: $color-almost-black;

		&:hover {
			box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .4);
			transform: translateY(-.2rem);
		}

		&:active,
		&:focus {
			outline: none;
			transform: translateY(.2rem);
			box-shadow: 0 .5rem 2rem rgba(255, 255, 255, .3);
		}
	}
}

// times icons for close buttons
.btnClose {
	&,
	&:link,
	&:visited {
		text-decoration: none;
	}
}
