body {
	color: $color-almost-black;
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	line-height: 1.6;
}


.header {
	
	text-align: center;

	&__heading {

		font-size: 3.45rem;
		font-weight: 800;
		
	}
	
}

// topography of paragraph;
.paragraph {
	color: $color-medium-gray;
	font-size: 1.7rem;
	font-weight: 500;
}

// topography of buttons;
.btn {
	color: $color-almost-white;
	font-size: 1.8rem;
	font-weight: 500;
}

.hamburgerMenu {

	&__links {
		color: $color-medium-gray;
	font-family: inherit;
	font-size: 1.7rem;
	}
	
}