body {
	color: $color-almost-black;
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	line-height: 1.6;
}


.header {
	
	text-align: center;

	@include respond(tab-land) {
		text-align: left;
	}

	&__heading {

		font-size: 3.45rem;
		font-weight: 800;

		@include respond(tab-land) {
			font-size: clamp(3.9rem, 3vw, 200px);
			font-weight: 700;
			line-height: 1;

			margin-bottom: 2.8rem !important;
		}
	}
	
}

// topography of paragraph;
.paragraph {
	color: $color-medium-gray;
	font-size: 1.7rem;
	font-weight: 500;

	@include respond(tab-land) {
		font-size: 1.1rem;
		font-size: clamp(1rem, 1.2vw, 1.1rem);
		font-weight: 500;

		margin-bottom: 3.7rem !important;
	}

	@include respond(desk) {
		font-size: 1.2rem;
		font-weight: 500;

		margin-bottom: 3.7rem !important;
	}
}

// topography of buttons;
.btn {
	color: $color-almost-white;
	font-size: 1.8rem;
	font-weight: 500;

	@include respond(tab-land) {
		font-size: 1.2rem;
		font-weight: 500;
	}
}

.hamburgerMenu {

	&__links {
		color: $color-medium-gray;
		font-family: inherit;
		font-size: 1.7rem;
		text-align: left;
	}
	
}

.navbarMenu {
	color: $color-medium-gray;
	font-size: .9rem;	
}