/////////////////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////////////////

.header {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
            margin-left: 1.5rem;
        }
        
        &--menu {
            align-self: flex-start;

            margin-right: 1.5rem;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
    }

    &__associations {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &--img {
            width: 16%;
            height: auto;
            display: block;
        }
    }
}